mixin s-fin(addclass)
    section.s-fin(class= addclass)#funding
        .s-fin__in
            h2.s-fin__title.wow.fadeInUp Привлечение финансирования

            .s-fin__box
                .s-fin__main
                    .s-fin__left

                        h3.s-fin__headline.wow.fadeInUp Локомотив развития для бизнеса – увы, это деньги.
                        
                        p.s-fin__definition.wow.fadeInUp Как прожорливое чудовище, вырастая и укрепляясь, <em>бизнес требует в себя всё новых и новых финансовый вливаний.</em> <br>В конце концов, дикий голод может остановить развитие предприятия.

                        p.s-fin__info.wow.fadeInUp <strong>Дальше – застой и скорая стагнация.</strong> <br>Это хоронило многие перспективные проекты, которые в будущем реализовал кто-то другой – с деньгами и связями.
                        
                    .s-fin__right
                        .s-fin__icon.wow.fadeInRight
                        a(href="#cases").s-fin__link.js-scrollto.wow.fadeInRight Смотреть кейсы

                h3.s-fin__offer-title.wow.fadeInUp Мы предлагаем вам не упускать свой шанс.
                p.s-fin__offer-txt.wow.fadeInUp Мы предлагаем содействие в получении финансовой помощи из различных инвестиционных фондов.
                
                .s-fin__more
                    h3.s-fin__more-title.wow.fadeInUp Если мы понимаем,
                    p.s-fin__more-txt.wow.fadeInUp Что ваш проект перспективный, мы готовы оказать вам содействие в финансировании и сопровождать на инвестиционные сессии, кроме того – пройти путь до Государственного комитета Республики и Министерства экономического развития.
                    

                p.s-fin__call.wow.fadeInUp Запишитесь на бесплатную консультацию <br>и привлеките финансирование для своего проекта!
                button.s-fin__button.js-order-button.wow.fadeInUp ЗАПИСАТЬСЯ
