mixin s-fr(addclass)
    section.s-fr(class= addclass)#franchising
        .s-fr__in
            h2.s-fr__title.wow.fadeInUp Франчайзинг
            
            .s-fr__box
                .s-fr__main
                    .s-fr__left
                    
                        h3.s-fr__headline.wow.fadeInUp Международный опыт ведения бизнеса показывает – франчайзинг один из лучших способов развития бизнеса.
                        
                        h4.s-fr__list-title.wow.fadeInUp Франшиза для бизнеса это:
                        ul.s-fr__list.wow.fadeInUp
                            li.s-fr__list-item Открытие для компании нового источника доходов;
                            li.s-fr__list-item Низкие издержки на расширение бизнеса;
                            li.s-fr__list-item Укрепление и популяризация бренда с каждой новой точкой франчайзи;
                            li.s-fr__list-item Увеличенный сбыт производимой продукции за счёт франчайзи – он больше заинтересован в сбыте, чем наемный сотрудник компании.

                        p.s-fr__info.wow.fadeInUp <strong>Конечно, франшиза – прибыльное дело. Но как её продать?</strong> <br>Мы предлагаем вам создание и упаковку привлекательной франшизы, а&nbsp;также помощь в её продаже.
                        
                    .s-fr__right
                        .s-fr__icon.wow.fadeInRight
                        a(href="#cases").s-fr__link.js-scrollto.wow.fadeInRight Смотреть кейсы
                        
                h3.s-fr__options-title.wow.fadeInUp В итоге сотрудничества вы получите:
                ul.s-fr__options.wow.fadeInUp
                    li.s-fr__option 1. Увеличение дохода
                    li.s-fr__option 2. Расширение потребительского сегмента компании
                    li.s-fr__option 3. Расширение с использованием капитала франчайзи
                    
                p.s-fr__call.wow.fadeInUp Запишитесь на бесплатную консультацию <br>и мы обсудим ваши перспективы франчайзинга!
                button.s-fr__button.js-order-button.wow.fadeInUp ЗАПИСАТЬСЯ
