mixin s-it(addclass)
    section.s-it(class= addclass)#it-consulting
        .s-it__in
            h2.s-it__title.wow.fadeInUp IT-консалтинг
            
            .s-it__box
                .s-it__main
                    .s-it__left
                        p.s-it__definition.wow.fadeInUp <strong>Программное обеспечение современной компании –</strong> это её мозг, центр и сосредоточие работы. Чем лучше используемый предприятием IT-софт, чем грамотнее в работу внедряются IT-решения, <em>тем стабильнее и выше у него доход.</em>
                        p.s-it__info.wow.fadeInUp <strong>IT-технологии – это будущее современного бизнеса.</strong> <br>Лидерами в своей нише окажутся те, кто не скупится инвестировать в IT и развивать это направление.
                    .s-it__right
                        .s-it__icon.wow.fadeInRight
                        a(href="#cases").s-it__link.js-scrollto.wow.fadeInRight Смотреть кейсы
                        
                h3.s-it__options-title.wow.fadeInUp IT-консалтинг в итоге приносит такие преимущества:
                ul.s-it__options.wow.fadeInUp
                    li.s-it__option 1. Открытие новых возможностей, улучшающих производительность работы
                    li.s-it__option 2. Приобретение компанией конкурентного преимущества на рынке за счёт современного, надежного и многофункционального <br>IT-софта
                    li.s-it__option 3. Способность предприятия отвечать духу времени и растущим требованиям современных потребителей
                    
                
                p.s-it__call.wow.fadeInUp Запишитесь на бесплатную консультацию <br>по внедрению програмного обеспечения в вашу компанию!
                button.s-it__button.js-order-button.wow.fadeInUp ЗАПИСАТЬСЯ
