mixin s-oper(addclass)
    section.s-oper(class= addclass)#operational-consulting
        .s-oper__in
            h2.s-oper__title.wow.fadeInUp Операционный консалтинг
            
            .s-oper__box
                p.s-oper__preword.wow.fadeInUp «&nbsp;Если на одной операции экономить 1&nbsp;$, <br>то на 1000 операций экономим 1000&nbsp;$&nbsp;»
                
                .s-oper__main
                    .s-oper__left
                        p.s-oper__definition.wow.fadeInUp <strong>Операционный консалтинг</strong> – упрощение бизнеса на уровне простейших операций. Отсюда такое название. <em>Это решение всего спектра вопросов, связанных с проблемами управления компании</em>, её организационной структуры и с организацией бизнес-процессов.
                        p.s-oper__info.wow.fadeInUp <strong>Иначе говоря</strong> – оптимизация и экономия всего «чего только можно». Но&nbsp;не&nbsp;в&nbsp;ущерб качеству.
                    .s-oper__right
                        .s-oper__icon.wow.fadeInRight
                        a(href="#cases").s-oper__link.js-scrollto.wow.fadeInRight Смотреть кейсы
                
                p.s-oper__so.wow.fadeInUp <strong>Таким образом,</strong> <br>операционный консалтинг реформирует компанию в молодое, конкурентоспособное предприятие и превращает его в один отлаженный, точный механизм, где нет ничего лишнего.
                
                h3.s-oper__spec-title.wow.fadeInUp Специалисты по операционному консалтингу
                p.s-oper__spec-text.wow.fadeInUp глубоко погружаются в специфику предприятия, каждый день отслеживая всё новые и новые возможности для повышения эффективности его работы.
                
                h3.s-oper__options-title.wow.fadeInUp В итоге мы получаем:
                ul.s-oper__options.wow.fadeInUp
                    li.s-oper__option 1. Открытие внутреннего резерва компании и её готовности к росту
                    li.s-oper__option 2. Сокращение стоимости выполнения бизнес-процессов
                    li.s-oper__option 3. Повышение эффективности деятельности предприятия
                    li.s-oper__option 4. Превращение компании в гибкое, энергичное и целеустремленное	предприятие
                        
                p.s-oper__call.wow.fadeInUp Запишитесь уже сегодня на бесплатную консультацию по операционному консалтингу!
                button.s-oper__button.js-order-button.wow.fadeInUp ЗАПИСАТЬСЯ
