mixin s-logos()
    section.s-logos&attributes(attributes)
        .s-logos__in
            h2.s-logos__title.wow.fadeInUp Среди наших клентов
            .s-logos__logos.wow.fadeInUp
                img(src="assets/img/logos/logo-1.png" alt="").s-logos__logo
                img(src="assets/img/logos/logo-2.png" alt="").s-logos__logo
                img(src="assets/img/logos/logo-3.png" alt="").s-logos__logo
                img(src="assets/img/logos/logo-4.png" alt="").s-logos__logo
                img(src="assets/img/logos/logo-5.png" alt="").s-logos__logo
                img(src="assets/img/logos/logo-6.png" alt="").s-logos__logo
                img(src="assets/img/logos/logo-7.png" alt="").s-logos__logo
                img(src="assets/img/logos/logo-8.png" alt="").s-logos__logo
                img(src="assets/img/logos/logo-9.png" alt="").s-logos__logo
                img(src="assets/img/logos/logo-10.png" alt="").s-logos__logo
                img(src="assets/img/logos/logo-11.png" alt="").s-logos__logo
                img(src="assets/img/logos/logo-12.png" alt="").s-logos__logo
                img(src="assets/img/logos/logo-13.png" alt="").s-logos__logo
                img(src="assets/img/logos/logo-14.png" alt="").s-logos__logo
                img(src="assets/img/logos/logo-15.png" alt="").s-logos__logo
