mixin s-logos(addclass)
    section.s-logos#logos(class= addclass)
        .s-logos__in
            h2.s-logos__title.wow.fadeInUp Среди наших клентов
            .s-logos__logos.wow.fadeInUp
                img(src="assets/img/s-logo-1.png" alt="").s-logos__logo
                img(src="assets/img/s-logo-2.png" alt="").s-logos__logo
                img(src="assets/img/s-logo-3.png" alt="").s-logos__logo
                img(src="assets/img/s-logo-4.png" alt="").s-logos__logo
                img(src="assets/img/s-logo-5.png" alt="").s-logos__logo
                img(src="assets/img/s-logo-6.png" alt="").s-logos__logo
                img(src="assets/img/s-logo-7.png" alt="").s-logos__logo
                img(src="assets/img/s-logo-8.png" alt="").s-logos__logo
                img(src="assets/img/s-logo-9.png" alt="").s-logos__logo
