.s-logos
    background-color #fff
    &__in
        container(1340px)
        padding 70px 20px 120px
        +below(1100px)
            padding 70px 20px 10px

    &__title
        color #00060c
        font(Bold)
        font-size 26px
        line-height 1
        text-align center
        margin 0 0 70px

    &__logos
        font-size 0
        +below(1024px)
            text-align center

    &__logo
        display inline-block
        vertical-align middle
        margin 0 33px 65px
        +below(425px)
            display block
            margin 0 auto 30px
