mixin s-faces()
    section.s-faces&attributes(attributes)
        .s-faces__first
            .s-faces__in
                h2.s-faces__title.wow.fadeInUp Первые лица компании
            .s-faces__in
                .s-faces__left
                    h3.s-faces__name.wow.fadeInUp Юрий <strong>Кравец</strong>
                    p.s-faces__position.wow.fadeInUp Управляющий партнер
                    p.s-faces__text.wow.fadeInUp Действующий заместитель директора <strong>АНО центра франчайзинга</strong> Республики Башкортостан. <strong>Эксперт Центра инноваций</strong> социальной сферы. <strong>Преподаватель бизнес-школы</strong> Торгово Промышленной Палаты в Республики Башкортостан. <strong>8 лет опыта работы</strong> на топовых управленческих позициях в ТЭК (нефть). 
                    p.s-faces__text.wow.fadeInUp Имеет <strong>3 высших образования</strong> и является экспертом в сфере разработки региональных франшиз.
                    p.s-faces__call.wow.fadeInUp Запишитесь на первичную бесплатную консультацию прямо сейчас!
                    button(data-source="Первые лица компании - Юрий Кравец").s-faces__button.js-order-button.wow.fadeInUp ЗАПИСАТЬСЯ
                .s-faces__right.wow.fadeInUp
                    img(src="assets/img/face-1.png" alt="Юрий Кравец").s-faces__photo
                    h4.s-faces__photo-name Юрий Кравец
                    p.s-faces__photo-position основатель
        .s-faces__second
            .s-faces__in
                .s-faces__left
                    h3.s-faces__name.wow.fadeInUp Иван <strong>Абрамов</strong>
                    p.s-faces__position.wow.fadeInUp Управляющий партнер
                    p.s-faces__text.wow.fadeInUp <strong>Более 5 лет занимал</strong> руководящие позиции в сфере управления экономикой и финансами в крупным компаниях. (ТЭК, энергетических отраслях, холдингах). <strong>Секретарь общественного совета</strong> при государственном комитете по предпринимательству и туризму РБ. Также является <strong>основателем и руководителем клуба бизнес наставников</strong> федерального проекта «ТЫ ПРЕДПРИНИМАТЕЛЬ».
                    p.s-faces__text.wow.fadeInUp <strong>Эксперт Центра инноваций</strong> социальной сферы РБ. <strong>Постоянный спикер ведущих бизнес конференций</strong> в Республики Башкортостан.
                    p.s-faces__call.wow.fadeInUp Запишитесь на первичную бесплатную консультацию прямо сейчас!
                    button(data-source="Первые лица компании - Иван Абрамов").s-faces__button.js-order-button.wow.fadeInUp ЗАПИСАТЬСЯ
                .s-faces__right.wow.fadeInUp
                    img(src="assets/img/face-2.png" alt="Иван Абрамов").s-faces__photo
                    h4.s-faces__photo-name Иван Абрамов
                    p.s-faces__photo-position основатель

            .s-faces__fotki
                a(href="assets/img/photos/photo-1.jpg").s-faces__fotka-link.js-fotki
                    img(src="assets/img/photos/photo-1-small.jpg" alt="").s-faces__fotka
                a(href="assets/img/photos/photo-2.jpg").s-faces__fotka-link.js-fotki
                    img(src="assets/img/photos/photo-2-small.jpg" alt="").s-faces__fotka
                a(href="assets/img/photos/photo-3.jpg").s-faces__fotka-link.js-fotki
                    img(src="assets/img/photos/photo-3-small.jpg" alt="").s-faces__fotka
                a(href="assets/img/photos/photo-4.jpg").s-faces__fotka-link.js-fotki
                    img(src="assets/img/photos/photo-4-small.jpg" alt="").s-faces__fotka
                a(href="assets/img/photos/photo-5.jpg").s-faces__fotka-link.js-fotki
                    img(src="assets/img/photos/photo-5-small.jpg" alt="").s-faces__fotka
                a(href="assets/img/photos/photo-6.jpg").s-faces__fotka-link.js-fotki
                    img(src="assets/img/photos/photo-6-small.jpg" alt="").s-faces__fotka

