mixin s-hr()
    section.s-hr&attributes(attributes)
        .s-hr__in
            h2.s-hr__title.wow.fadeInUp Кадровый консалтинг

            .s-hr__box
                .s-hr__main
                    .s-hr__left
                        h3.s-hr__headline.wow.fadeInUp Работа компании – это командная игра. 
                        p.s-hr__definition Профессиональные, опытные, умные сотрудники <em>превращаются в беспомощное «стадо», если на предприятии нет хорошей организации</em> и дисциплины.
                        p.s-hr__info.wow.fadeInUp <strong>Кадровый консалтинг</strong> – это система рационального использования человеческого ресурса компании, её цель – повышение прибыли бизнеса.
                    .s-hr__right
                        .s-hr__icon.wow.fadeInRight
                        a(href="#cases").s-hr__link.js-scrollto.wow.fadeInRight Смотреть кейсы

                h3.s-hr__problems-title.wow.fadeInUp Он решает такие проблемы:
                .s-hr__problems
                    ul.s-hr__list.wow.fadeInUp
                        li.s-hr__list-item «Халтура», халатность и невнимательность сотрудников;
                        li.s-hr__list-item Постоянные срывы сроков;
                        li.s-hr__list-item Плохая и безответственная работа;
                        li.s-hr__list-item Нерациональное использование рабочего времени, прогулы и опоздания.
                    p.s-hr__problems-txt.wow.fadeInUp <strong>Всё это, словно ржавчина</strong>, каждый день разъедает металлический каркас вашей компании. Вы не сможете добиться поставленных целей, если ваш «тыл» работает против вас.

                h3.s-hr__spec-title.wow.fadeInUp Кадровый консалтинг превращает армию баранов под предводительством льва в армию львов под предводительством льва.

                h3.s-hr__options-title.wow.fadeInUp Он решает следующие задачи:
                ul.s-hr__options.wow.fadeInUp
                    li.s-hr__option 1. Оптимизация численности персонала и разработка систем мотивации.
                    li.s-hr__option 2. Создание единого стандарта управления кадрами
                    li.s-hr__option 3. Привлечение в компанию профессиональнх, ценных сотрудников
                    li.s-hr__option 4. Превращение персонала компании в её конкурентное преимущество

                p.s-hr__call.wow.fadeInUp Запишитесь на бесплатную консультацию <br>и решите все вопросы с персоналом уже на этой неделе!
                button(data-source="Кадровый консалтинг").s-hr__button.js-order-button.wow.fadeInUp ЗАПИСАТЬСЯ
