mixin s-mk(addclass)
    section.s-mk(class= addclass)#marketing-consulting
        .s-mk__in
            h2.s-mk__title.wow.fadeInUp Маркетинговый консалтинг
            
            .s-mk__box
                .s-mk__main
                    .s-mk__left
                        ul.s-mk__list.wow.fadeInUp
                            li.s-mk__item Как быстро реагировать на изменчивость непостоянного рынка?
                            li.s-mk__item Как предсказать тенденции развития рыночных ситуаций?
                            li.s-mk__item Как предугадать действия конкурентов, опередить их и оставить с&nbsp;носом?

                        p.s-mk__definition.wow.fadeInUp <strong>На эти вопросы вам ответит специалист по маркетинговому консалтингу.</strong> <br>Его работа – дать вам полное представление о месте вашей компании на рынке, <em>подсказать, как избежать убытков</em>, помочь найти перспективную нишу и <em>увеличить прибыль компании</em>.
                        p.s-mk__info.wow.fadeInUp <strong>В сущности,</strong> это полная ревизия маркетинговой политики компании с целью грамотного определения точной целевой аудитории (ЦА) и увеличения рыночной прибыли предприятия.
                        
                    .s-mk__right
                        .s-mk__icon.wow.fadeInRight
                        a(href="#cases").s-mk__link.js-scrollto.wow.fadeInRight Смотреть кейсы

                h3.s-mk__options-title.wow.fadeInUp Маркетинговый консалтинг решает проблемы:
                ul.s-mk__options.wow.fadeInUp
                    li.s-mk__option Нестабильных продаж
                    li.s-mk__option Снижения количества и качества рекомендаций
                    li.s-mk__option Сезонности рынка
                
                p.s-mk__also.wow.fadeInUp …&nbsp;а&nbsp;также позволяет увеличить сбыт продукции и сократить затраты на маркетинг.
                
                .s-mk__more
                    h3.s-mk__more-title.wow.fadeInUp Маркетинговый консалтинг 
                    p.s-mk__more-txt.wow.fadeInUp это независимость компании от колебаний, катаклизмов и неприятностей на рынке и стабильный рост прибыли, не смотря ни на что. 
                
                p.s-mk__call.wow.fadeInUp Запишитесь на бесплатную консультацию <br>и определите слабые места в вашей маркетинговой политике!
                button.s-mk__button.js-order-button.wow.fadeInUp ЗАПИСАТЬСЯ
