mixin footer()
    footer.footer&attributes(attributes)
        .footer__in
            .footer__company <strong>BS TECHNOLOGY &copy;</strong> <br>Консалтинговая компания <br>2012&nbsp;&dash;&nbsp;2016
            .footer__mid
                a(href="tel:83472733410").footer__phone 8 3472 <strong>73-34-10</strong>
                address.footer__address ул. 50 лет октября 16, оф. 508
                a(href="#popup-privacy").footer__privacy.js-popup Политика конфиденциальности 
            .footer__right
                a(href="http://web-upakovka.ru" target="_blank").footer__developed Разработка сайта
