.footer
    background-color #f5f5f6
    &__in
        container(1240px)
        padding 65px 20px 20px
        min-height 190px
        cf()

    &__company
        display block
        width 213px
        color #00060c
        font()
        font-size 16px
        line-height 24px
        text-align left
        margin 0 0 30px
        span(1/3)
        strong
            font(Bold)
            font-size 20px
        +below(900px)
            span(1/2)
        +below(630px)
            span(1)
            text-align center
    &__mid
        display block
        margin 0 0 20px
        span(1/3)
        text-align center
        +below(900px)
            span(1/2)
            text-align: right
            margin-bottom 40px
        +below(630px)
            span(1)
            text-align center


    &__right
        span(1/3)
        text-align right
        +below(900px)
            span(1)
            text-align center


    &__phone
        display block
        color #00060c
        font()
        line-height 1
        font-size 30px
        text-transform uppercase
        text-decoration none
        margin 0 0 15px
        strong
            font(Bold)
        &:hover
            color @color
            text-decoration none

    &__address
        display block
        color #00060c
        font()
        line-height 1
        font-size 20px
        font-style normal
        margin 0 0 15px

    &__privacy
        display block
        color #00060c
        font()
        line-height 1
        font-size 16px
        text-decoration underline
        margin 0
        &:hover
            text-decoration none

    &__developed
        display inline-block
        width 213px
        height 70px
        color #00060c
        font()
        font-size 20px
        line-height 1
        text-align left
        text-decoration none
        margin 0 0 30px
        position relative
        &:hover
            text-decoration underline
        &::before
            content ""
            display block
            retinaSprite($icon_upakovka_group)
            position absolute
            top 29px
