a, input, *:focus
    outline none

// html
//     box-sizing border-box
//     height 100%
//     margin 0

html
    box-sizing border-box
    margin 0
    height 100%
    // &.macos
    // &.safari
    // &.ios
    //     overflow-x hidden

*, *:before, *:after
    box-sizing inherit


.hidden
    display none

.animated
    animation-duration 1s
