@font-face
    font-family "ProximaNova-Regular"
    src url("fonts/ProximaNova-Regular/ProximaNova-Regular.eot")
    src url("fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"),
        url("fonts/ProximaNova-Regular/ProximaNova-Regular.woff") format("woff"),
        url("fonts/ProximaNova-Regular/ProximaNova-Regular.ttf") format("truetype"),
        url("fonts/ProximaNova-Regular/ProximaNova-Regular.otf") format("opentype"),
		url("fonts/ProximaNova-Regular/ProximaNova-Regular.svg#ProximaNova-Regular") format("svg")
    font-style normal
    font-weight normal

@font-face
    font-family "ProximaNova-Bold"
    src url("fonts/ProximaNova-Bold/ProximaNova-Bold.eot")
    src url("fonts/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"),
        url("fonts/ProximaNova-Bold/ProximaNova-Bold.woff") format("woff"),
        url("fonts/ProximaNova-Bold/ProximaNova-Bold.ttf") format("truetype"),
        url("fonts/ProximaNova-Bold/ProximaNova-Bold.otf") format("opentype"),
		url("fonts/ProximaNova-Bold/ProximaNova-Bold.svg#ProximaNova-Bold") format("svg")
    font-style normal
    font-weight normal

@font-face
    font-family "ProximaNova-Thin"
    src url("fonts/ProximaNova-Thin/ProximaNova-Thin.eot")
    src url("fonts/ProximaNova-Thin/ProximaNova-Thin.eot?#iefix") format("embedded-opentype"),
        url("fonts/ProximaNova-Thin/ProximaNova-Thin.woff") format("woff"),
        url("fonts/ProximaNova-Thin/ProximaNova-Thin.ttf") format("truetype"),
        url("fonts/ProximaNova-Thin/ProximaNova-Thin.otf") format("opentype"),
		url("fonts/ProximaNova-Thin/ProximaNova-Thin.svg#ProximaNova-Thin") format("svg")
    font-style normal
    font-weight normal

@font-face
    font-family "ProximaNova-Extrabold"
    src url("fonts/ProximaNova-Extrabold/ProximaNova-Extrabold.eot")
    src url("fonts/ProximaNova-Extrabold/ProximaNova-Extrabold.eot?#iefix") format("embedded-opentype"),
        url("fonts/ProximaNova-Extrabold/ProximaNova-Extrabold.otf") format("opentype"),
        url("fonts/ProximaNova-Extrabold/ProximaNova-Extrabold.woff") format("woff"),
        url("fonts/ProximaNova-Extrabold/ProximaNova-Extrabold.ttf") format("truetype"),
		url("fonts/ProximaNova-Extrabold/ProximaNova-Extrabold.svg#ProximaNova-Extrabold") format("svg")
    font-style normal
    font-weight normal
