include ../blocks/head/head
include ../blocks/header/header
include ../blocks/browsehappy/browsehappy
include ../blocks/menu/menu
include ../blocks/mobile-menu/mobile-menu
include ../blocks/s-download/s-download
include ../blocks/s-nav/s-nav
include ../blocks/s-faces/s-faces
include ../blocks/s-oper/s-oper
include ../blocks/s-hr/s-hr
include ../blocks/s-mk/s-mk
include ../blocks/s-fr/s-fr
include ../blocks/s-analysis/s-analysis
include ../blocks/s-fin/s-fin
include ../blocks/s-accounting/s-accounting
include ../blocks/s-gov/s-gov
include ../blocks/s-cases/s-cases
include ../blocks/s-thanks/s-thanks
include ../blocks/s-logos/s-logos
include ../blocks/footer/footer
include ../blocks/popups/popups
include ../blocks/mobile-menu-trigger/mobile-menu-trigger

// ========================================================== 
// Верстка и программирование сайта: http://web-master-pro.ru 
// ========================================================== 

doctype html

html(lang="ru-RU").no-js

    +head("Экспертный бизнес-консалтинг")

    body.page
        .page__content
            +browsehappy()
            +header(id="header")
            +s-download(id="download")
            +s-nav(id="nav")
            +s-faces(id="faces")

            +s-analysis(id="analysis")
            +s-fin(id="funding")
            +s-accounting(id="accounting")
            +s-gov(id="goverment")

            +s-oper(id="operational-consulting")
            +s-hr(id="hr-consulting")
            +s-mk(id="marketing-consulting")
            +s-fr(id="franchising")
            
            +s-cases(id="cases")
            +s-thanks(id="thanks")
            +s-logos(id="logos")
            +footer(id="footer")

        +menu(class="page__menu")
        +mobile-menu()
        +mobile-menu-trigger(class="page__mobile-menu-trigger")
            
        .hidden
            +form-order()
            +popup-thankyou()
            +popup-thankyou-download()
            +popup-privacy()

        script.
            var ms=document.createElement("link");ms.rel="stylesheet";ms.href="assets/css/style.min.css?rev=@@hash";document.getElementsByTagName("head")[0].appendChild(ms);

        <!--[if lt IE 9]>
        script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js")
        <![endif]-->

        script(src="https://code.jquery.com/jquery-2.2.3.min.js")
        script window.jQuery || document.write('<script src="assets/js/jquery.min.js"><\/script>')
        script(src="assets/js/plugins.min.js?rev=@@hash")
        script(src="assets/js/main.min.js?rev=@@hash")

        include inc/metrika.html
