mixin s-accounting(addclass)
    section.s-accounting(class= addclass)#accounting
        .s-accounting__in
            h2.s-accounting__title.wow.fadeInUp Построение системы управленческого учёта

            .s-accounting__box
                .s-accounting__main
                    .s-accounting__left

                        p.s-accounting__definition.wow.fadeInUp <strong>Составленная и работающая система управленческого учёта –</strong> <em>признак мобильного, эффективного предприятия</em>, руководство которого может принимать взвешенные, правильные решения на основе собранных данных.

                        h4.s-accounting__list-title.wow.fadeInUp Что конкретно даёт система?
                        ul.s-accounting__list.wow.fadeInUp
                            li.s-accounting__list-item Возможность получить данные по интересующему направлению в короткий срок, без траты времени на их сбор;
                            li.s-accounting__list-item Полученные данные однозначно трактуют финансово-экономическую 	ситуацию компании, все показатели максимально точны и корректны;
                            li.s-accounting__list-item Проведение анализа деятельности компании с разных аспектов – быстро и без больших усилий;
                            li.s-accounting__list-item Упрощенная система контроля за расходом бюджета, прозрачный и ясный мониторинг качества работы отделов.

                    .s-accounting__right
                        .s-accounting__icon.wow.fadeInRight
                        a(href="#cases").s-accounting__link.js-scrollto.wow.fadeInRight Смотреть кейсы
                
                h3.s-accounting__options-title.wow.fadeInUp Создание финансовых систем от простых до самых сложных и оптимизация уже существующих позволяет вам: 
                ul.s-accounting__options.wow.fadeInUp
                    li.s-accounting__option 1. Грамотно управлять денежными потоками, инвестиционными проектами и производством
                    li.s-accounting__option 2. Открыть новое стратегическое видение компании
                    li.s-accounting__option 3. Упрочить положение компании
                    li.s-accounting__option 4. Сократить текущие расходы
                            
                h3.s-accounting__offer-title.wow.fadeInUp Как следствие, на рынке укрепляются позиции компании, 
                p.s-accounting__offer-txt.wow.fadeInUp открывается её готовность к эффективной экспансии и расширению потребительского сегмента.
                
                p.s-accounting__call.wow.fadeInUp Запишитесь на бесплатную консультацию и <br>создайте финансовую систему учета для своего бизнеса!
                button.s-accounting__button.js-order-button.wow.fadeInUp ЗАПИСАТЬСЯ
