.logo
    width 263px
    text-align: left
    position relative
    &__icon
        color transparent
        retinaSprite($icon_logo_group)
        margin 0 0 4px
        +below(650px)
            margin-left auto
            margin-right auto
    &__about
        color white
        font(Thin)
        font-weight 400
        font-size 18px
        line-height 1
        letter-spacing 0.068em
        text-transform lowercase
        text-align center
        margin 0 0 0 -1px
