.logo
    width 270px
    text-align: left
    position relative
    &__icon
        color transparent
        retinaSprite($icon_logo_group)
        margin: 0 0 2px;
        +below(650px)
            margin-left: auto;
            margin-right: auto;
    &__about
        color #58585a
        font(Thin)
        font-size 20px
        line-height: 1;
        letter-spacing: 0.068em;
        text-transform: lowercase;
        margin: 0 0 0 -1px;
