mixin s-thanks()
    section.s-thanks&attributes(attributes)
        .s-thanks__in
            h2.s-thanks__title.wow.fadeInUp Благодарности
            .thanks.s-thanks__slider.wow.fadeInUp
                .thanks__item 
                    a(href="#").thanks__link
                        img(src="assets/img/s-thanks-frame.png" width="229" height="280" alt="").thanks__img
                        p.thanks__label Увеличить
                .thanks__item
                    a(href="#").thanks__link
                        img(src="assets/img/s-thanks-frame.png" width="229" height="280" alt="").thanks__img
                        p.thanks__label Увеличить
                .thanks__item
                    a(href="#").thanks__link
                        img(src="assets/img/s-thanks-frame.png" width="229" height="280" alt="").thanks__img
                        p.thanks__label Увеличить
                .thanks__item
                    a(href="#").thanks__link
                        img(src="assets/img/s-thanks-frame.png" width="229" height="280" alt="").thanks__img
                        p.thanks__label Увеличить
                .thanks__item
                    a(href="#").thanks__link
                        img(src="assets/img/s-thanks-frame.png" width="229" height="280" alt="").thanks__img
                        p.thanks__label Увеличить
                .thanks__item
                    a(href="#").thanks__link
                        img(src="assets/img/s-thanks-frame.png" width="229" height="280" alt="").thanks__img
                        p.thanks__label Увеличить
                .thanks__item
                    a(href="#").thanks__link
                        img(src="assets/img/s-thanks-frame.png" width="229" height="280" alt="").thanks__img
                        p.thanks__label Увеличить
                .thanks__item
                    a(href="#").thanks__link
                        img(src="assets/img/s-thanks-frame.png" width="229" height="280" alt="").thanks__img
                        p.thanks__label Увеличить
                        
            .thanks__arrow.thanks__arrow--prev.js-thanks-prev
            .thanks__arrow.thanks__arrow--next.js-thanks-next
