mixin s-thanks()
    section.s-thanks&attributes(attributes)
        .s-thanks__in
            h2.s-thanks__title.wow.fadeInUp Благодарности
            .thanks.s-thanks__slider.wow.fadeInUp
                .thanks__item 
                    a(href="assets/img/recommendations/recommendation-1.jpg").thanks__link.js-gallery
                        img(src="assets/img/recommendations/recommendation-1-frame.jpg" width="229" height="280" alt="").thanks__img
                        p.thanks__label Увеличить
                .thanks__item
                    a(href="assets/img/recommendations/recommendation-2.jpg").thanks__link.js-gallery
                        img(src="assets/img/recommendations/recommendation-2-frame.jpg" width="229" height="280" alt="").thanks__img
                        p.thanks__label Увеличить
                .thanks__item
                    a(href="assets/img/recommendations/recommendation-3.jpg").thanks__link.js-gallery
                        img(src="assets/img/recommendations/recommendation-3-frame.jpg" width="229" height="280" alt="").thanks__img
                        p.thanks__label Увеличить
                .thanks__item
                    a(href="assets/img/recommendations/recommendation-4.jpg").thanks__link.js-gallery
                        img(src="assets/img/recommendations/recommendation-4-frame.jpg" width="229" height="280" alt="").thanks__img
                        p.thanks__label Увеличить
                .thanks__item
                    a(href="assets/img/recommendations/recommendation-5.jpg").thanks__link.js-gallery
                        img(src="assets/img/recommendations/recommendation-5-frame.jpg" width="229" height="280" alt="").thanks__img
                        p.thanks__label Увеличить
                .thanks__item
                    a(href="assets/img/recommendations/recommendation-6.jpg").thanks__link.js-gallery
                        img(src="assets/img/recommendations/recommendation-6-frame.jpg" width="229" height="280" alt="").thanks__img
                        p.thanks__label Увеличить
                .thanks__item
                    a(href="assets/img/recommendations/recommendation-7.jpg").thanks__link.js-gallery
                        img(src="assets/img/recommendations/recommendation-7-frame.jpg" width="229" height="280" alt="").thanks__img
                        p.thanks__label Увеличить
                .thanks__item
                    a(href="assets/img/recommendations/recommendation-8.jpg").thanks__link.js-gallery
                        img(src="assets/img/recommendations/recommendation-8-frame.jpg" width="229" height="280" alt="").thanks__img
                        p.thanks__label Увеличить
                        
            .thanks__arrow.thanks__arrow--prev.js-thanks-prev
            .thanks__arrow.thanks__arrow--next.js-thanks-next
