mixin s-cases()
    section.s-cases&attributes(attributes)
        .s-cases__main
            .s-cases__main-in
                h2.s-cases__title.wow.fadeInUp Последние КЕЙСЫ
                
                .cases
                    
                    .cases__case.cases__case--1
                        .cases__left
                            h3.cases__title Операционный консалтинг для компании «Школа&nbsp;Kingsman»
                            
                            .cases__shift
                                h4.cases__subtitle Задача:
                                p.cases__text Увеличение оборота и управленческой прибыли.
                                
                                h4.cases__subtitle.cases__subtitle--green Результат:
                                p.cases__text − Увеличение оборота компании по сравнению с аналогичным периодом прошлого года.
                                p.cases__text − Рентабельность инвестиций за полгода 11%, срок окупаемости 9 месяцев.
                                
                                h4.cases__subtitle.cases__subtitle--blue Другие результаты:
                                p.cases__text − Новые подразделения: 5 франшиз и 1 филиал в других регионах;
                                p.cases__text − Сокращение времени на оперативное управление
                        
                        .cases__right
                            .cases__logo
                            h5.cases__profit-title Рентабельность инвестиций
                            .cases__profit-value 11%
                            h5.cases__payback-title Срок окупаемости
                            .cases__payback-value 9 мес
                            
                            .cases__tasks
                                .cases__tasks-title Выполненные работы
                                .cases__popup
                                    p.cases__text − Разработка модели позиционирования;
                                    p.cases__text − Внедрение сбалансированной системы показателей;
                                    p.cases__text − Разработка системы фин. мотивации по KPI;
                                    p.cases__text − Стандартизация и регламентация бизнес-процессов;
                                    p.cases__text − Разработка Marketing Kit для продажи франшизы.
                            
                        .cases__bottom
                            a(href="assets/files/Case_Kingsman.pdf" target="_blank").cases__report Смотреть отчет
                
                    .cases__case.cases__case--2
                        .cases__left
                            h3.cases__title Проведение торжественных мероприятий в&nbsp;городе Уфа
                            
                            .cases__shift
                                h4.cases__subtitle Задача:
                                p.cases__text Увеличение оборота и чистой прибыли.
                                
                                h4.cases__subtitle.cases__subtitle--green Результат:
                                p.cases__text − Увеличение оборота на 35%.
                                p.cases__text − Рентабельность инвестиций 37%.

                                h4.cases__subtitle.cases__subtitle--blue Другие результаты:
                                p.cases__text - Рост среднего чека на 30%;
                                p.cases__text − Рост количества клиентов на 15%;
                                p.cases__text − Внедрение финансовой дисциплины;
                                p.cases__text − Увеличение личной эффективности клиента;
                                p.cases__text − Начало работ по созданию собственного свадебного агентства.
                        .cases__right
                            .cases__logo
                            h5.cases__profit-title Увеличение оборота
                            .cases__profit-value 35%
                            h5.cases__payback-title Рентабельность инвестиций
                            .cases__payback-value 37%
                            
                            .cases__tasks
                                .cases__tasks-title Выполненные работы
                                .cases__popup
                                    p.cases__text − Разработка модели личного позиционирования;
                                    p.cases__text − Проработка качества и ценности услуги;
                                    p.cases__text − Создание линейки пакетов под различные запросы от клиентов;
                                    p.cases__text − Внедрение эффективной методики переговоров при продаже услуг;
                                    p.cases__text − Внедрение методики финансового учета.

                        .cases__bottom
                            a(href="assets/files/Case_Medvedev.pdf" target="_blank").cases__report Смотреть отчет

                    .cases__case.cases__case--3
                        .cases__left
                            h3.cases__title Риэлторские услуги «Много Метров»
                            
                            .cases__shift
                                h4.cases__subtitle Задача:
                                p.cases__text Увеличение оборота и прибыли компании.
                                
                                h4.cases__subtitle.cases__subtitle--green Результат:
                                p.cases__text − Прогнозное увеличение количества заключаемых сделок при использовании оптимального алгоритма – в 2 раза;
                                p.cases__text − Прогнозный срок окупаемости инвестиций в консалтинговый проект – 2 месяца.

                                h4.cases__subtitle.cases__subtitle--blue Другие результаты:
                                p.cases__text - Оптимальный алгоритм работы ключевого персонала лег в основу будущей корпоративной базы знаний.
                        .cases__right
                            .cases__logo
                            h5.cases__profit-title Прогнозное увеличение количества заключаемых сделок при использовании оптимального алгоритма
                            .cases__profit-value в 2 раза
                            h5.cases__payback-title Прогнозный срок окупаемости инвестиций в консалтинговый проект
                            .cases__payback-value 2 месяца
                            
                            .cases__tasks
                                .cases__tasks-title Выполненные работы
                                .cases__popup
                                    p.cases__text − Организационная диагностика персонала и определение потенциала развития услуги;
                                    p.cases__text − Создание бизнес-модели оказания услуги и имитационное моделирование в программном комплексе Business Studio. Определение оптимального способа оказания услуги;
                                    p.cases__text − Защита и передача оптимального алгоритма работы менеджерам по продажам.

                        .cases__bottom
                            a(href="assets/files/Case_Mnogo_Metrov.pdf" target="_blank").cases__report Смотреть отчет

                    .cases__case.cases__case--4
                        .cases__left
                            h3.cases__title Поисковое продвижение в интернете «Лидер&nbsp;Поиска»
                            
                            .cases__shift
                                h4.cases__subtitle Задача:
                                p.cases__text Создание условий для роста оборотов и прибыли компании за счет эффективного управления.
                                
                                h4.cases__subtitle.cases__subtitle--green Результат:
                                p.cases__text − Сокращение просроченной дебиторской задолженности на 35%.

                                h4.cases__subtitle.cases__subtitle--blue Другие результаты:
                                p.cases__text − Внедрение культуры управления на основе замеряемых показателей;
                                p.cases__text − Повышение мотивации персонала при достижении поставленных целей;
                                p.cases__text − Повышение качества оказываемых услуг за счет стандартизации бизнес-процессов.

                        .cases__right
                            .cases__logo
                            h5.cases__profit-title Сокращение просроченной дебиторской задолженности на
                            .cases__profit-value 35%

                            .cases__tasks
                                .cases__tasks-title Выполненные работы
                                .cases__popup
                                    p.cases__text − Внедрение системы сбалансированных показателей Balanced ScoreCard;
                                    p.cases__text − Привязка заработной платы персонала к достижению показателей;
                                    p.cases__text − Стандартизация и регламентация ключевых бизнес-процессов, в т. ч. по управлению дебиторской задолженностью.

                        .cases__bottom
                            a(href="assets/files/Case_Lider_Poiska.pdf" target="_blank").cases__report Смотреть отчет

                .cases__arrow.cases__arrow--prev.js-cases-prev
                .cases__arrow.cases__arrow--next.js-cases-next
