mixin s-cases(addclass)
    section.s-cases(class= addclass)#cases
        .s-cases__main
            .s-cases__main-in
                h2.s-cases__title.wow.fadeInUp Последние КЕЙСЫ
                
                .cases
                    
                    .cases__case.cases__case--1
                        .cases__left
                            h3.cases__title Операционный консалтинг для компании «Школа&nbsp;Kingsman»
                            
                            .cases__shift
                                h4.cases__subtitle Задача:
                                p.cases__text Увеличение оборота и управленческой прибыли.
                                
                                h4.cases__subtitle.cases__subtitle--green Результат:
                                p.cases__text − Увеличение оборота компании по сравнению с аналогичным периодом прошлого года.
                                p.cases__text − Рентабельность инвестиций за полгода 11%, срок окупаемости 9 месяцев.
                                
                                h4.cases__subtitle.cases__subtitle--blue Другие результаты:
                                p.cases__text − Новые подразделения: 5 франшиз и 1 филиал в других регионах;
                                p.cases__text − Сокращение времени на оперативное управление
                        
                        .cases__right
                            .cases__logo
                            h5.cases__profit-title Рентабельность инвестиций
                            .cases__profit-value 11%
                            h5.cases__payback-title Срок окупаемости
                            .cases__payback-value 9 мес
                            
                            .cases__tasks
                                .cases__tasks-title Выполненные работы
                                .cases__popup
                                    p.cases__text − Разработка модели позиционирования;
                                    p.cases__text − Внедрение сбалансированной системы показателей;
                                    p.cases__text − Разработка системы фин. мотивации по KPI;
                                    p.cases__text − Стандартизация и регламентация бизнес-процессов;
                                    p.cases__text − Разработка Marketing Kit для продажи франшизы.
                            
                        .cases__bottom
                            a(href="#").cases__report Смотреть отчет
                
                    .cases__case.cases__case--1
                        .cases__left
                            h3.cases__title Операционный консалтинг для компании «Школа&nbsp;Kingsman»
                            
                            .cases__shift
                                h4.cases__subtitle Задача:
                                p.cases__text Увеличение оборота и управленческой прибыли.
                                
                                h4.cases__subtitle.cases__subtitle--green Результат:
                                p.cases__text − Увеличение оборота компании по сравнению с аналогичным периодом прошлого года.
                                p.cases__text − Рентабельность инвестиций за полгода 11%, срок окупаемости 9 месяцев.
                                
                                h4.cases__subtitle.cases__subtitle--blue Другие результаты:
                                p.cases__text − Новые подразделения: 5 франшиз и 1 филиал в других регионах;
                                p.cases__text − Сокращение времени на оперативное управление
                        
                        .cases__right
                            .cases__logo
                            h5.cases__profit-title Рентабельность инвестиций
                            .cases__profit-value 11%
                            h5.cases__payback-title Срок окупаемости
                            .cases__payback-value 9 мес
                            
                            .cases__tasks
                                .cases__tasks-title Выполненные работы
                                .cases__popup
                                    p.cases__text − Разработка модели позиционирования;
                                    p.cases__text − Внедрение сбалансированной системы показателей;
                                    p.cases__text − Разработка системы фин. мотивации по KPI;
                                    p.cases__text − Стандартизация и регламентация бизнес-процессов;
                                    p.cases__text − Разработка Marketing Kit для продажи франшизы.
                            
                        .cases__bottom
                            a(href="#").cases__report Смотреть отчет
                            
                .cases__arrow.cases__arrow--prev.js-cases-prev
                .cases__arrow.cases__arrow--next.js-cases-next
