.contacts
    display: block;
    width: 270px;
    text-align: right;
    &__title
        color #003874
        font(Thin)
        font-size 16px
        line-height: 1;
        margin: 0 0 9px;
    &__phone
        color #003874
        font()
        font-size 30px
        text-transform uppercase
        margin: 0 0 8px;
        strong
            font(Bold)
    &__phone-link
        &
        &:visited
        &:hover
            color #003874
            text-decoration: none;
    &__address
        color #003874
        font(Thin)
        font-size 16px
        font-style: normal;
        letter-spacing: -0.025em;
        margin: 0
