mixin contacts()
    .contacts&attributes(attributes)
        p.contacts__phone 
            a(href="tel:83472733410").contacts__phone-link 8 3472 <strong>73-34-10</strong>
        address.contacts__address ул. 50 лет октября 16, оф. 508
