.worktime
    display blocks
    width 270px
    text-align: center;
    &__title
        color #003874
        font(Thin)
        font-size 16px
        line-height: 1;
        margin: 0 0 10px;
    &__time
        color #003874
        font(Thin)
        font-size 25px
        line-height: 30px
        margin: 0;

        strong
            font(Bold)
            font-size 30px
            line-height: 1;
