mixin s-analysis()
    section.s-analysis&attributes(attributes)
        .s-analysis__in
            h2.s-analysis__title.wow.fadeInUp Анализ и оценка эффективности
            
            .s-analysis__box
                .s-analysis__main
                    .s-analysis__left
                    
                        h3.s-analysis__headline.wow.fadeInUp Опасно ли открывать новое бизнес-направление?
                        
                        p.s-analysis__definition.wow.fadeInUp По статистике <em>около 90 % новых бизнес-проектов прогорают</em> и быстро закрываются. Почему это происходит?

                        p.s-analysis__info.wow.fadeInUp <strong>Чаще всего – из-за пренебрежения анализом</strong> нового направления и изучения его перспективности. Отсутствие грамотного бизнес-плана  обычно становится айсбергом для нового Титаника.
                        
                    .s-analysis__right
                        .s-analysis__icon.wow.fadeInRight
                        a(href="#cases").s-analysis__link.js-scrollto.wow.fadeInRight Смотреть кейсы
                
                h3.s-analysis__math-title.wow.fadeInUp Математически оправданный риск!
                p.s-analysis__math-txt.wow.fadeInUp <strong>Анализ и оценка эффективности</strong> – это разработка детального бизнес-плана с информацией о рисках и эффективности проекта, со сроками окупаемости, будущими движениями денежных потоков и предполагаемыми затратами.
                
                h3.s-analysis__youget.wow.fadeInUp С ним вы получаете понимание экономической целесообразности проекта и его шансов на успех. 
                        
                .s-analysis__more
                    h3.s-analysis__more-title.wow.fadeInUp Профессиональный бизнес-план 
                    p.s-analysis__more-txt.wow.fadeInUp даёт вам возможность безопасного инвестирования в новый проект с&nbsp;минимальными рисками. Таким образом, вы сохраняете денежные средства от инвестиций в потенциально опасные предприятия.
                    
                p.s-analysis__call.wow.fadeInUp Запишитесь на бесплатную консультацию <br>со специалистами и оцените эффективность своего проекта!
                button.s-analysis__button.js-order-button.wow.fadeInUp ЗАПИСАТЬСЯ
