mixin menu()
    .menu&attributes(attributes)
        section.menu__section.menu__section--1
            h3.menu__title для интенсивного <br>развития
            ul.menu__list
                li.menu__item
                    a(href="#operational-consulting").menu__link
                        .menu__icon
                        .menu__caption Операционный <br>консалтинг
                li.menu__item
                    a(href="#hr-consulting").menu__link
                        .menu__icon
                        .menu__caption Кадровый <br>консалтинг
                li.menu__item
                    a(href="#marketing-consulting").menu__link
                        .menu__icon
                        .menu__caption Маркетинговый <br>консалтинг
                //- li.menu__item
                //-     a(href="#it-consulting").menu__link
                //-         .menu__icon
                //-         .menu__caption IT-консалтинг
                li.menu__item
                    a(href="#franchising").menu__link
                        .menu__icon
                        .menu__caption Франчайзинг

        section.menu__section.menu__section--2
            h3.menu__title для успешного <br>старта
            ul.menu__list
                li.menu__item.menu__item--6
                    a(href="#analysis").menu__link
                        .menu__icon
                        .menu__caption Анализ и оценка <br>эффективности
                li.menu__item.menu__item--7
                    a(href="#funding").menu__link
                        .menu__icon
                        .menu__caption Привлечения <br>финансирования
                li.menu__item.menu__item--8
                    a(href="#accounting").menu__link
                        .menu__icon
                        .menu__caption Построение системы <br>управленческого учета
                li.menu__item.menu__item--9
                    a(href="#goverment").menu__link
                        .menu__icon
                        .menu__caption Получение финансовой <br>гос. поддержки
