mixin s-nav()
    section.s-nav&attributes(attributes)
        .s-nav__in
            h2.s-nav__title.wow.fadeInUp Выберите необходимый бизнес раздел
            
            .nav-1.s-nav__nav-1
                h3.nav-1__title.wow.fadeInUp Для интенсивного развития
                .nav-1__items
                    .nav-1__item.nav-1__item--1.wow.fadeInUp Операционный консалтинг
                    .nav-1__item-more.nav-1__item-more--1
                        .nav-1__item-over.nav-1__item-over--1 Операционный консалтинг
                        .nav-1__item-ext.nav-1__item-ext--1
                            p.nav-1__txt Описание, оптимизация и отладка бизнес-процессов, регламентация деятельности компании, KPI-системы, глубокая мотивация персонала.
                            .nav-1__button Подробнее
                        
                    .nav-1__item.nav-1__item--2.wow.fadeInUp Кадровый консалтинг
                    .nav-1__item-more.nav-1__item-more--2
                        .nav-1__item-over.nav-1__item-over--2 Кадровый консалтинг
                        .nav-1__item-ext.nav-1__item-ext--2
                            p.nav-1__txt Организация и повышение эффективности службы работы с персоналом, разработка и улучшение отдельных процедур по управлению кадрами – поиск и подбор персонала, его оценка, обучение и развитие.
                            .nav-1__button Подробнее
                        
                    .nav-1__item.nav-1__item--3.wow.fadeInUp Маркетинговый консалтинг
                    .nav-1__item-more.nav-1__item-more--3
                        .nav-1__item-over.nav-1__item-over--3 Маркетинговый консалтинг
                        .nav-1__item-ext.nav-1__item-ext--3
                            p.nav-1__txt Конкурентная разведка и маркетинговые исследования. Построение модели индивидуального и рентабельного взаимодействия с рынком.
                            .nav-1__button Подробнее
                        
                    .nav-1__item.nav-1__item--4.wow.fadeInUp IT-консалтинг
                    .nav-1__item-more.nav-1__item-more--4
                        .nav-1__item-over.nav-1__item-over--4 IT-консалтинг
                        .nav-1__item-ext.nav-1__item-ext--4
                            p.nav-1__txt Оптимизация затрат на техническое обслуживание предприятия, повышение эффективности коммуникаций компании и её программного обеспечения.
                            .nav-1__button Подробнее
                        
                    .nav-1__item.nav-1__item--5.wow.fadeInUp Франчайзинг
                    .nav-1__item-more.nav-1__item-more--5
                        .nav-1__item-over.nav-1__item-over--5 Франчайзинг
                        .nav-1__item-ext.nav-1__item-ext--5
                            p.nav-1__txt Разработка привлекательной коммерческой модели, упаковка и помощь в продаже.
                            .nav-1__button Подробнее
                        
            .nav-2.s-nav__nav-2
                h3.nav-2__title.wow.fadeInUp Для успешного старта
                .nav-2__items
                    .nav-2__item.nav-2__item--1.wow.fadeInUp Анализ и оценка эффективности
                    .nav-2__item-more.nav-2__item-more--1
                        .nav-2__item-over.nav-2__item-over--1 Анализ и оценка эффективности
                        .nav-2__item-ext.nav-2__item-ext--1
                            p.nav-2__txt Составление полного и профессионального бизнес-плана с анализом риска проекта, финансовой эффективности и анализом цен.
                            .nav-2__button Подробнее
                        
                    .nav-2__item.nav-2__item--2.wow.fadeInUp Привлечение финансирования
                    .nav-2__item-more.nav-2__item-more--2
                        .nav-2__item-over.nav-2__item-over--2 Привлечение финансирования
                        .nav-2__item-ext.nav-2__item-ext--2
                            p.nav-2__txt Сопровождение проекта по всем уровням – от инвестиционных сессий до Государственного комитета республики и Министерства экономического развития.
                            .nav-2__button Подробнее
                        
                    .nav-2__item.nav-2__item--3.wow.fadeInUp Построение системы управленческого учёта
                    .nav-2__item-more.nav-2__item-more--3
                        .nav-2__item-over.nav-2__item-over--3 Построение системы управленческого учёта
                        .nav-2__item-ext.nav-2__item-ext--3
                            p.nav-2__txt Создание и оптимизация системы финансовых показателей, разработка финансовой стратегии развития.
                            .nav-2__button Подробнее
                        
                    .nav-2__item.nav-2__item--4.wow.fadeInUp Получение государственной финансовой поддержки
                    .nav-2__item-more.nav-2__item-more--4
                        .nav-2__item-over.nav-2__item-over--4 Получение государственной финансовой поддержки
                        .nav-2__item-ext.nav-2__item-ext--4
                            p.nav-2__txt Помощь в получении средств по программам государственной поддержки предпринимательства. Быстрое и правильное (!) оформление документов.
                            .nav-2__button Подробнее
