include ../logo/logo
include ../worktime/worktime
include ../contacts/contacts
include ../main-form/main-form
include ../scroll-down/scroll-down

mixin header()
    header.header&attributes(attributes)
        //- .header__container
        video.header__video(loop muted autoplay)
        .header__video-cover
        .header__video-overlay
        .header__content
            .header__in
                .header__top
                    +logo(class="header__logo")
                    +contacts(class="header__contacts")
                h1.header__title Экспертный <br>бизнес-консалтинг
                p.header__text Повышение «отдачи» от бизнеса со 100% гарантией результата
                +scroll-down(class="header__scroll-down")
