mixin s-gov()
    section.s-gov&attributes(attributes)
        .s-gov__in
            h2.s-gov__title.wow.fadeInUp Получение государственной <br>финансовой поддержки

            .s-gov__box
                .s-gov__main
                    .s-gov__left

                        h3.s-gov__headline.wow.fadeInUp Бюрократия губит бизнес.
                        
                        p.s-gov__definition.wow.fadeInUp Вы согласитесь с этим, если уже пробовали самостоятельно получить государственное субсидирование. <br>Большинство хороших проектов не получает государственную помощь только <em>из-за большого количества сложных требований</em> к оформлению документов.

                        p.s-gov__info.wow.fadeInUp <strong>Многие из них «заворачивают»</strong> по причине формальных ошибок и прочих мелких недостатков в оформлении пакета документов.

                    .s-gov__right
                        .s-gov__icon.wow.fadeInRight
                        a(href="#cases").s-gov__link.js-scrollto.wow.fadeInRight Смотреть кейсы

                .s-gov__more
                    h3.s-gov__more-title.wow.fadeInUp Так получилось,  
                    p.s-gov__more-txt.wow.fadeInUp Что мы поддерживаем прямую связь с некоторыми государственными фондами и структурами. Поэтому мы знаем, как быстро и правильно подготовить все необходимые документы и бумаги.
                            
                h3.s-gov__offer-title.wow.fadeInUp Мы знаем все требования, стандарты и регламенты.
                p.s-gov__offer-txt.wow.fadeInUp Вы можете стать одним из немногих, кто всё-таки получил помощь от государства для своего бизнеса.
                
                p.s-gov__call.wow.fadeInUp Запишитесь на бесплатную консультацию и получите <br>государственное субсидирование!
                button(data-source="Получение государственной финансовой поддержки").s-gov__button.js-order-button.wow.fadeInUp ЗАПИСАТЬСЯ
